<!DOCTYPE HTML>
<html>
<head>
	<title>Super Cool CRM</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

	<h1 class="title_header center"><%= @crm_app_name %></h1>	
	<header>
		<nav>		
			<ul>
				<li><a href="/contacts">View all contacts</a></li>
				<li><a href="/contact/new">Add a contact</a></li>
			</ul>
		</nav>
	</header>

	<%= yield %>

	<footer>
	</footer>

</body>
</html>