/* 
  ==================
  HTML RESET 
  ==================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
  ==================
  BASIC STYLES
  ==================
*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #2f3339;
	color: white;
}

h1 {
	font-size: 21px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

.center {
	text-align: center;
}

/* 
  ==================
  HEADER AND NAV
  ==================
*/

.title_header {
	margin-top: 20px;
}

header {
	width: 900px;
	height: 400px;
	margin: 20px auto 0;	
	padding-bottom: 40px;
	background: url("/images/crm_screen.jpg") no-repeat;
	border-radius: 10px;
}

nav {
	margin: 0px auto;
	padding-top: 0;
	width: 900px;
	height: 400px;
	background-color: rgba(0, 0, 0, .6);
	text-align: center;
	border-radius: 10px;
}

nav li {
	height: 60px;
	width: 300px;
	background: #fff;
	display: inline-block;
	margin-top: 165px;
	border-radius: 5px;
	padding: 20px 0;
}

nav li:first-child {
	margin-right: 20px;
}

nav li a {
	color: #fa1679;
	font-size: 18px;
	text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:hover {
	color: #3673cf;	
}


/* 
  ==================
  FORMS
  ==================
*/

.new_contact {
	float: left;
	width: 1000px;
}

.form {
	width: 400px;
	margin: 30px auto;
	padding: 30px 40px;
	background: #272822;
	border-radius: 10px;
}

.form h1 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 16px;
}

form input {
	height: 40px;
	width: 300px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 0;
	padding-left: 20px;
	font-size: 16px;
}

.button {
	background: #c83b25;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}

.delete { 
	background: #4368a3;
}


/* 
  ==================
  CONTACT LIST
  ==================
*/

.contact_list {
	margin: 30px auto 0;
	background: white;
	color: black;
	padding: 30px;
	width: 900px;
	border-radius: 10px;
}

.contact_list h1 {
	font-size: 16px;
	color: #fa1679;
	margin-bottom: 10px;
}
	
.contact_list td {
	width: 180px;
	border-bottom: 1px solid #cecfd5;
	margin-right: 20px;
}

.contact_list td:nth-child(1) {
	width: 30px;
	font-size: 14px;
}

.contact_list td:nth-child(3) {
	width: 300px;
}

.contact_list th:nth-child(3) {
	width: 300px;
}

.contact_list th {
	width: 180px;
	text-align: left;
	color: #4368a3;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}

.contact_list th:nth-child(1) {
	width: 50px;
}

.contact_list tr:nth-child(even) {
	background: #f0f0f2;
}


